<%= flash[:notice] %>

<h2>アイディアを投稿する</h2>

<%= form_for @post do |f| %>
	<p>
		<%= f.collection_select :category_post_ids, Category.all, :id, :name, {}, {class: 'custom-select'} %>
	</p>

    <%= f.text_field :title, placeholder: 'Title', :class => 'form-group' %>
		<% if @post.errors.messages[:title].any? %>
			<span class="error"><%= @post.errors.messages[:title][0] %></span>
		<% end %>

	<p>
	    <%= f.text_area :content, placeholder: 'Content', :class => 'form-control', :size => "10x5", :style => 'width: 400px' %>
		<% if @post.errors.messages[:content].any? %>
			<span class="error"><%= @post.errors.messages[:content][0] %></span>
		<% end %>
	</p>
		
    <%= f.submit :class => 'btn btn-primary' %>

<% end %>