<%= h(flash[:notice]) %>

<h2>アイディアを投稿する</h2>

<%= form_for @post do |f| %>
	<p>
		<%= f.select :industry, [["IT", "0"], ["旅行", "1"]] %>	

	    <%= f.text_field :title, placeholder: 'Title' %>
		<% if @post.errors.messages[:title].any? %>
			<span class="error"><%= @post.errors.messages[:title][0] %></span>
		<% end %>
	</p>

	<p>
	    <%= f.text_field :content, placeholder: 'Content' %>
		<% if @post.errors.messages[:content].any? %>
			<span class="error"><%= @post.errors.messages[:content][0] %></span>
		<% end %>
	</p>
		
    <%= f.submit %>

<% end %>