<!DOCTYPE html>
<html>
  <head>
    <title>Ideahunt</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

	<% flash.each do |key, value| %>
		<p class="alert alert-primary" role="alert"><%= notice %></p>
	<% end %>

	
    <div class="row">
      <div class="col-md-8">

	    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
	      <%= link_to image_tag('logo.png', class: 'logo'), root_path %>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item">
				<%= link_to "About", about_posts_path, {:class => 'nav-link'} %>
	          </li>	
				<!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
			    <% if user_signed_in? %> 
			        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
			        <!-- *_path はUserモデルを作成したときに、
			        deviseにより自動で作成されてますので、rake routesで確認できます -->
		          	<li class="nav-item">
			        	<span class="nav-link"><%= current_user.email %></span>
			       	</li>
		          	<li class="nav-item">
				       	<%= link_to "Log Out", destroy_user_session_path, { :method => :get, :class => 'nav-link'} %>
				    </li>
				
				<% else %>
			        <li class="nav-item">
						<%= link_to "Sign Up", new_user_registration_path, {:class => 'nav-link'} %>
					</li>
			        <li class="nav-item">
						<%= link_to "Login", new_user_session_path, {:class => 'nav-link'} %>
					</li>
				<% end %>

	        </ul>
	        <%= link_to 'Post Idea', apply_posts_path, class: "btn btn-outline-success my-2 my-sm-0" %>
	        </a>
	      </div>
	    </nav>
	   </div>
	  </div>

    <main role="main">

			<% if current_page?(root_path) %>
		     
		      <div class="jumbotron">
		        <div class="container">
		          <h1 class="display-3">Hello, world!</h1>
		          <p>
					こうゆうサービスがほしい、こんなアプリがあったらいいな。<br />
					そんなちょっとしたアイディアを投稿できるプラットフォーム「Ideahunt」
		          </p>
		        </div>
		      </div>

			<% end %>

      <div class="container">

	    <%= yield %>

      </div> <!-- /container -->

    </main>


	<div class="footer_wrapper">
	    <footer class="container">
	      <p>&copy; Idea Hunt 
	      <% 
	      d = Date.today
	      print(d.year, "year")
	      %>
	      </p>
	    </footer>
	</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

  </body>
</html>